@page "/greeting-app"
@rendermode InteractiveServer

<PageTitle>Greeting Application</PageTitle>

<div class="main-container">
    <div class="greeting-card">
        <div class="header-section">
            <h1>User Greeting Application</h1>
            <p>
                Demonstration of One-Way and Two-Way Data Binding
            </p>
            <div class="input-section">
                <label class="input-label">
                    Enter Your Name
                </label>

                <!-- Two way data binding-->
                <input type="text"
                       class="custom-input"
                       placeholder="Type your full name..."
                       @bind="UserName" />

            </div>


        </div>
    </div>
</div>